<h3>スケジュール新規作成</h3>
 
<%= form_with model: @user do |f| %>
  <table id="newtable">
    <tr>
      <th class="newth"><%= f.label :title ,"タイトル" %></th>
      <td class="newtd"><%= f.text_field :title %></td>
    </tr>

    <tr>
      <th class="newth"><%= f.label :start_date ,"開始日" %></th>
      <td class="newtd"><%= f.date_field :start_date %></td>
    </tr>
    <tr>
      <th class="newth"><%= f.label :end_date ,"終了日" %></th>
      <td class="newtd"><%= f.date_field :end_date %></td>
    </tr>

    <tr>
      <th class="newth"><%= f.label :all_day ,"終日" %></th>
      <td class="newtd"><%= f.check_box :all_day %>終日の場合はチェックを入れます</td>
    </tr>

    <tr>
      <th class="newth"><%= f.label :memo,"スケジュールメモ" %></th>
      <td class="newtd"><%= f.text_area :memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "スケジュールを新規登録する"%></li>
    </ul>
  </div>

  <div>
      <li><%= link_to "スケジュール一覧に戻る", :users %></li>
  </div>


<% end %>